<%= form_for @post do |f| %>
  <fieldset>
    <% if post.errors.any? %>
      <div class="alert alert-error">
        <p><%= pluralize(post.errors.count, "error") %> prohibited this project from being saved:</p>
        <ul>
          <% post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.label :title %>
    <%= f.text_field :title, class: 'span7' %>

    <%= f.label :category %>
    <%= f.collection_select :category_id, Category.all, :id, :name %>

    <%= f.label :content %>
    <%= f.text_area :content, class: 'span7', rows: 10, cols: 10 %>


    <div class="form-actions">
      <%= f.submit 'Save post', class: 'btn btn-large btn-primary' %>
    </div>
  </fielset>
<% end %>
