<h2>Posts</h2>
  <% if @posts.any? %>
  <ul class="media-list">
    <% @posts.each do |post| %>
      <li class="media">
        <a class="pull-left" href="<%= post_path post %>">
          <%= image_tag asset_path('dawson.jpg'), alt: 'Dawson crying', class: 'media-object' %>
        </a>
        <div class="media-body">
          <h4><%= link_to post.title, post %></h4>
          <p><%= post.created_at.strftime("%d %B %Y") %></p>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>

<%= paginate @posts, theme: 'twitter-bootstrap' %>