<h2><%= @post.title %></h2>

<p class="muted">
  Posted in <%= @post.category.name %> on <%= @post.created_at.strftime("%d %b. %Y") %>
</p>

<%= @post.content %>

<div class="form-actions">
  <p>
    <%= link_to 'Edit post', edit_post_path, class: 'btn btn-warning' %> <%= link_to 'Delete post', post_path, method: 'delete', class: 'btn btn-danger', confirm: 'Are you sure?' %>
  </p>
</div>
