<h1><span id="name"><%= @vals[:name] %></span> (<span id="symbol"><%= @vals[:symbol] %></span>)</h1>

<p class="quote">Last value: <span id="lastTrade"><%= @vals[:lastTrade] %></span> (at <span id="time"><%= @vals[:time] %></span> <span id="date"><%= @vals[:date] %></span>)</p> 
<p class="about"><em>Data last updated: <span id="updatedAt"><%= @vals[:updatedAt] %></span></em></p>
